<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand " href="index.html">
            <img class="logo-blanco" src="../../assets/landing/images/Logo/logoblanco.png" alt="">
            <img class="logo-colores" src="../../assets/landing/images/Logo/logo-dark.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link" style="font-size: 15px;">INICIO</a>
                </li>
                <li class="nav-item"><a href="about.html" class="nav-link" style="font-size: 15px;">¿QUIENES SOMOS?</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link" style="font-size: 15px;">INICIATIVAS</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link" style="font-size: 15px;">BLOG</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="font-size: 15px;">CONECTA</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrap" style="background-image: url('../../assets/landing/images/Slide/slide-1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container-fluid ">
        <div class="row">

            <div class="row conectar-msg">

                <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center " data-wow-duration="1s">

                    <i class="flaticon-null-4 icon1-ideas"></i>
                    <h4 class="text-white icon1-texto">CONECTANDO IDEAS</h4>

                </div>
                <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center " data-wow-duration="1s">
                    <i class="flaticon-null-3 icon2-personas"></i>
                    <h4 class="text-white icon2-texto">CONECTANDO PERSONAS</h4>

                </div>
                <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center  ftco-animate" data-wow-duration="1s">
                    <i class="flaticon-planning icon3-recursos"></i>
                    <h4 class="text-white icon3-texto">CONECTANDO RECURSOS</h4>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="mainbuscar ftco-animate">


            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>


        </div>
        <div class="voluntario">
            <div class="row ">

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ftco-animate">
                    <div>
                        <figure class="figure">
                            <div class="imagen">
                                <img src="../../assets/landing/images/Voluntarios/voluntario.jpg" class="image"
                                    alt="Avatar" width="100%">

                                <div class="overlays"></div>
                                <div class="text">SOY CAUSA</div>

                            </div>
                            <figcaption class="figure-caption text-center"><button
                                    class="btn btn-link botonr">Regístrate</button></figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ftco-animate">
                    <div>

                        <figure class="figure">
                            <div class="imagen">
                                <img src="../../assets/landing/images/Voluntarios/voluntario.jpg" class="image"
                                    alt="Avatar" width="100%">

                                <div class="overlays"></div>
                                <div class="text">SOY VOLUNTARIO</div>

                            </div>
                            <figcaption class="figure-caption text-center"><button
                                    class="btn btn-link botonr">Regístrate</button></figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ftco-animate">
                    <div>

                        <figure class="figure">
                            <div class="imagen">
                                <img src="../../assets/landing/images/Voluntarios/voluntario.jpg" class="image"
                                    alt="Avatar" width="100%">

                                <div class="overlays"></div>
                                <div class="text">SOY EMPRESA</div>

                            </div>
                            <figcaption class="figure-caption text-center"><button
                                    class="btn btn-link botonr">Regístrate</button></figcaption>
                        </figure>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>